services:
  nats:
    image: nats:latest
    ports:
      - "4222:4222"
      - "8222:8222"
    command: [
      "-js",
      "--debug",
      "--trace",
      "--http_port=8222"
    ]
    restart: unless-stopped
